params {
    baseDir               = "/home/khanle/Documents/catfish/rna_seq/PRJNA902092"
    input_dir             = "$baseDir/fastq"
    trim_dir              = "$baseDir/trimmed"
    map_dir               = "$baseDir/mapped"
    vcf_dir               = "$baseDir/vcf"
    project_dir           = "$baseDir/counts"

    ref_index             = "$baseDir/ref_genome/GCF_027358585.1_fPanHyp1.pri_genomic.fna"
    ref_genome            = "$baseDir/ref_genome/GCF_027358585.1_fPanHyp1.pri_genomic.fna"
    gtf_file              = "$baseDir/ref_genome/genomic.gtf"
    trimmomatic_adapters  = "$baseDir/adapters/TruSeq3-PE.fa"

    threads               = 4
}

process {
    executor = 'local'
    publishDir.mode = 'copy'
    scratch = true
}

cleanup = true


